<main>
  <h2>{{ userGroup.letter.toUpperCase() }}</h2>
  <hr class="divider-horizontal">
  <div class="users">
    @for (user of userGroup.users; track $index; let index = $index) {
    <div (click)="selectUser(user)" class="user-group">
        <span [ngStyle]="{'background-color': user.color}" class="assignedToBubble">{{ user.name | initials }}</span>
        <div>
          <h3 class="v2-t6">{{ user.name }}</h3>
          <span class="v2-body email">{{ user.email }}</span>
        </div>
    </div>
    }
  </div>
</main>


