
<main>
    <div class="headline">
        <img src="assets/img/join-logo.png" alt="">
        <h1 class="v2-t1">Add contact</h1>
        <h2 class="v2-t5">Tasks are better with a team!</h2>
        <hr class="blue-line">
    </div>
    <div class="user">
        <button class="close-icon"><img src="assets/img/btn-clear.png" alt=""></button>
        
        <div class="person-wrapper">
            <img src="assets/img/person.png" alt="">
        </div>
        <div class="form">
            <form>
                <div class="input-wrapper">
                    <input placeholder="Name" type="text" class="input-field">
                    <img src="assets/img/input-icon-person.png" alt="" class="input-icon">
                </div>
                <div class="input-wrapper">
                    <input placeholder="Email" type="email" class="input-field">
                    <img src="assets/img/input-icon-mail.png" alt="" class="input-icon">
                </div>
                <div class="input-wrapper">
                    <input placeholder="Phone" type="number" class="input-field">
                    <img src="assets/img/input-icon-phone.png" alt="" class="input-icon">
                </div>
                <div class="btns">
                    <button type="button" class="secondary">Cancel <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="path" d="M12.2496 11.9998L17.4926 17.2428M7.00659 17.2428L12.2496 11.9998L7.00659 17.2428ZM17.4926 6.75684L12.2486 11.9998L17.4926 6.75684ZM12.2486 11.9998L7.00659 6.75684L12.2486 11.9998Z" stroke="#2A3647" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        </button>
                    <button class="primary">Create contact <img src="assets/img/btn-check" alt=""></button>
                </div>
            </form>
        </div>
    </div>
</main>
