<main>
  <div class="headline">
    <img src="assets/img/join-logo.png" alt="" />

    @if (editMode) {
    <h1 class="v2-t1">Edit contact</h1>
    } @if (!editMode) {
    <h1 class="v2-t1">Add contact</h1>
    } @if (!editMode) {
    <h2 class="v2-t5">Tasks are better with a team!</h2>
    }

    <hr class="blue-line" />
  </div>
  <div class="user">
    @if (!editMode) {
    <button (click)="closeOverlay()" class="close-icon">
      <img src="assets/img/btn-clear.png" alt="" />
    </button>
    } @if (editMode) {
    <button (click)="closeEditMode()" class="close-icon">
      <img src="assets/img/btn-clear.png" alt="" />
    </button>
    }

    @if(!editMode){
    <div class="person-wrapper">
      
        <img src="assets/img/person.png" alt="" />
      </div>
    }
    @if (editMode) {
      <span [ngStyle]="{ 'background-color': user.color }" class="assignedToBubble name-bubble">{{ user.name | initials }}</span>
    }
    <div class="form">
      <form
        id="contactForm"
        name="contactForm"
        #contactForm="ngForm"
        (ngSubmit)="onSubmit(contactForm)"
      >
        <div class="input-wrapper">
          <input
            placeholder="Name"
            type="text"
            class="input-field"
            [(ngModel)]="user.name"
            name="name"
            required
            minlength="4"
            id="name"
            #name="ngModel"
          />
          <img
            src="assets/img/input-icon-person.png"
            alt=""
            class="input-icon"
          />
        </div>
        <div class="input-wrapper">
          <input
            placeholder="Email"
            type="email"
            class="input-field"
            [(ngModel)]="user.email"
            #mail="ngModel"
            name="email"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            required
          />
          <img src="assets/img/input-icon-mail.png" alt="" class="input-icon" />
        </div>
        <div class="input-wrapper">
          <input
            placeholder="Phone"
            type="text"
            class="input-field"
            [(ngModel)]="user.phone"
            inputmode="numeric"
            #phone="ngModel"
            name="phone"
            id="phone"
          />
          <img
            src="assets/img/input-icon-phone.png"
            alt=""
            class="input-icon"
          />
        </div>
        <div class="btns">
          @if (!editMode) {
            <button (click)="closeOverlay()" type="button" class="secondary">
              Cancel
              <svg
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="path"
                  d="M12.2496 11.9998L17.4926 17.2428M7.00659 17.2428L12.2496 11.9998L7.00659 17.2428ZM17.4926 6.75684L12.2486 11.9998L17.4926 6.75684ZM12.2486 11.9998L7.00659 6.75684L12.2486 11.9998Z"
                  stroke="#2A3647"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          }
          @if (editMode) {
            <button type="button" class="secondary" (click)="deleteUser()">
              Delete
            </button>
          }
          
          <button class="primary" [disabled]="!contactForm.valid">
            @if (!editMode) {Create contact} @if (editMode) {Save}
            <img src="assets/img/btn-check.png" alt="" />
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
