@import "../../styles.scss";

.close-icon {
  position: absolute;
  top: 32px;
  right: 32px;
  @include dFlex();
  background-color: unset;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  border: unset;
  &:hover {
    background-color: #eeeeee;
  }
}

main {
  display: flex;
  width: fit-content;
}

.headline {
  border-radius: 30px 0 0 30px;
  padding: 100px 48px;
  background-color: $color-main;
  @include dFlex($fd: column, $ai: flex-start, $g: 16px);
  img {
    width: 55.6px;
    height: 66.48px;
  }
  h1,
  h2 {
    margin: 0;
    color: white;
    text-wrap: nowrap;
  }
  .blue-line {
    height: 3px;
    width: 90px;
    border-radius: 100vw;
    background-color: $color-lightblue;
    border: unset;
    margin: 0;
  }
}

.user {
  position: relative;
  border-radius: 0 30px 30px 0;
  @include dFlex($jc: center, $g: 48px);
  background-color: white;
  padding: 100px 48px;

  .person-wrapper {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 4px 0px #0000001a;
    background-color: $color-grey;
    border-radius: 100%;
    @include dFlex();
  }

  .form {
    form {
      @include dFlex($fd: column, $ai: flex-start, $g: 32px);
      input {
        width: 420px;
      }
    }
    .btns {
      @include dFlex($jc: flex-start, $g: 24px);
    }
  }
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
