@import "../../styles.scss";

.signup {
  @include dFlex($g: 35px);
  margin-left: auto;

  span {
    @extend .v2-t6;
  }
  @media(max-width: 950px) {
    margin: 0;
  }
}

.sign-up-btn {
  @media(max-width: 950px) {
    font-size: 16px;
  }
}

main {
  background-color: $color-bg-white;
  @include dFlex($fd: column, $jc: space-between);
  width: 100vw;
  height: 100vh;
  padding: 48px;
  opacity: 0;
  animation: fadeIn 500ms ease-in forwards;
  @media(max-width: 950px) {
    flex-direction: column-reverse;
    padding: 8px;
  }
}

.legals {
  @include dFlex($g: 35px);

  a {
    @extend .v2-body;
    @include link($c: $color-icon);
  }
  @media(max-width: 950px) {
    display: none;
  }
}

.sign-wrapper {
  max-width: 650px;
  max-height: fit-content;
  padding: 48px 115px 48px 115px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  background-color: white;
  border-radius: 30px;
  @media(max-width: 950px) {
    padding: 16px;
    margin-top: auto !important;
    margin-bottom: 16px;
  }
}

.logo {
  position: fixed;
  top: 80px;
  left: 77px;
  animation: animateLogo 1000ms ease-in-out;
  @media(max-width: 950px) {
    width: 64px;
    height: 78px;
    top: 37px;
    left: 37px;
    animation: animateLogoMobile 1000ms ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateLogo {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 80px;
    left: 77px;
    transform: none;
  }
}

@keyframes animateLogoMobile {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 37px;
    left: 37px;
    transform: none;
  }
}
