<main>
  <h1>Add Task</h1>
  <form
    (ngSubmit)="onSubmit(taskForm)"
    id="taskForm"
    name="taskForm"
    #taskForm="ngForm"
  >
    <div class="first">
      <!-- title -->
      <div class="input-wrapper">
        <label for="title">Title<span class="required">*</span></label>
        <input
          [ngClass]="{ 'input-field-error': !title.valid && title.touched }"
          #title="ngModel"
          id="title"
          [(ngModel)]="task.title"
          name="title"
          type="text"
          class="input-field"
          placeholder="Enter a title"
          required=""
          minlength="4"
        />
        @if (!title.valid && title.touched) {
        <span class="hint">This field is required</span>
        }
      </div>

      <!-- description -->
      <div class="textarea-wrapper">
        <label for="description">Description</label>
        <textarea
          id="description"
          [(ngModel)]="task.description"
          class="text-area"
          name="description"
          placeholder="Enter a Description"
        ></textarea>
        <img
          class="textarea-icon"
          src="assets/img/textarea-resize-icon.png"
          alt=""
        />
      </div>

      <!-- assigned To -->
      <div class="custom-select">
        <label for="assignedTo">Assigned to</label>
        <div class="search-wrapper">
          <input
            id="assignedTo"
            [(ngModel)]="searchUserInput"
            (click)="showUserOptions()"
            name="assignedTo"
            type="text"
            class="input-field"
            placeholder="Select contacts to assign"
          />
          <img
            (click)="toggleUserOptions()"
            [ngStyle]="{
              transform: userOptions ? 'rotate(180deg)' : 'rotate(0deg)'
            }"
            class="category-drop-down-arrow icon-hover"
            src="assets/img/arrow-drop-down.png"
            alt=""
          />
        </div>

        @if (userOptions) {
        <div class="options">
          @for (user of filteredUsers(); track $index) {
          <div (click)="asignUserToTask(user.name)" class="option">
            <span
              [ngStyle]="{
                'background-color': taskService.getColorForUser(user.name)
              }"
              class="assignedToBubble"
              >{{ user.name | initials }}</span
            >
            <span>{{ user.name }}</span>
            @if (isUserChecked(user.name)) {
            <img src="assets/img/check-icon-check.png" alt="" />
            } @else {
            <img src="assets/img/check-icon-uncheck.png" alt="" />
            }
          </div>
          }
        </div>
        } @if (!userOptions) {
        <div class="assignedTo">
          @for (assignedUser of task.assignedTo; track $index) {
          <span
            [ngStyle]="{
              'background-color': taskService.getColorForUser(assignedUser)
            }"
            class="assignedToBubble assignedToUser"
            >{{ assignedUser | initials }}</span
          >
          }
        </div>
        }
      </div>
    </div>
    <div class="divider"></div>
    <div class="second">
      <!-- Due date -->
      <div class="input-wrapper">
        <label for="date">Due date<span class="required">*</span></label>
        <input
          id="date"
          [ngClass]="{ 'input-field-error': !date.valid && date.touched }"
          [(ngModel)]="dueDate"
          class="input-field"
          name="date"
          type="date"
          placeholder="tt.mm.jjjj"
          required
          #date="ngModel"
        />
        @if (!date.valid && date.touched) {
        <span class="hint">This field is required</span>
        }
      </div>

      <!-- priority -->
      <div class="prio">
        <label>Prio</label>
        <div>
          <button
            [ngClass]="{ 'prio-urgent': task.priority === 'urgent' }"
            type="button"
            (click)="changeTaskPrio('urgent')"
            class="prioBtn"
          >
            Urgent<img
              [src]="
                task.priority === 'urgent'
                  ? 'assets/img/prio-urgent-active.png'
                  : 'assets/img/prio-urgent.png'
              "
              alt=""
            />
          </button>
          <button
            [ngClass]="{ 'prio-medium': task.priority === 'medium' }"
            type="button"
            (click)="changeTaskPrio('medium')"
            class="prioBtn"
          >
            Medium<img
              [src]="
                task.priority === 'medium'
                  ? 'assets/img/prio-medium-active.png'
                  : 'assets/img/prio-medium.png'
              "
              alt=""
            />
          </button>
          <button
            [ngClass]="{ 'prio-low': task.priority === 'low' }"
            type="button"
            (click)="changeTaskPrio('low')"
            class="prioBtn"
          >
            Low<img
              [src]="
                task.priority === 'low'
                  ? 'assets/img/prio-low-active.png'
                  : 'assets/img/prio-low.png'
              "
              alt=""
            />
          </button>
        </div>
      </div>

      <!-- category -->
      <div class="custom-select">
        <label for="category">Category<span class="required">*</span></label>
        <div
          class="input-wrapper category-input-wrapper"
          (click)="toggleCategoryOptions()"
        >
          <input
            id="category"
            [ngClass]="{
              'input-field-error': !category.valid && showCategoryHint
            }"
            placeholder="Select task category"
            name="category"
            class="input-field category-input"
            type="text"
            [(ngModel)]="task.category"
            required
            #category="ngModel"
            minlength="6"
          />
          <img
            [ngStyle]="{
              transform: taskCategoryOptions ? 'rotate(180deg)' : 'rotate(0deg)'
            }"
            class="category-drop-down-arrow icon-hover"
            src="assets/img/arrow-drop-down.png"
            alt=""
          />
        </div>
        @if (!category.valid && showCategoryHint) {
        <span class="hint">This field is required</span>
        }
        <div class="options">
          @if (taskCategoryOptions) {
          <span class="option" (click)="changeTaskCategory('Technical Task')"
            >Technical Task</span
          >
          <span class="option" (click)="changeTaskCategory('User Story')"
            >User Story</span
          >
          }
        </div>
      </div>

      <!-- subtasks -->
      <div class="subtasks-field">
        <label for="subTaskInput">Subtasks</label>
        <div class="input-wrapper">
          <input
            id="subTaskInput"
            name="subTaskInput"
            [(ngModel)]="subTaskInput"
            type="text"
            class="input-field"
            placeholder="Add new subtask"
          />
          @if (!subTaskInput) {
          <img
            class="input-icon icon-hover"
            src="assets/img/plus-icon.png"
            alt=""
          />

          } @if (subTaskInput) {
          <div class="add-sub-icons input-icon">
            <img
              src="assets/img/close-icon.png"
              alt=""
              (click)="clearSubtaskInput()"
              class="icon-hover"
            />
            <span>|</span>
            <img
              src="assets/img/check-icon.png"
              alt=""
              (click)="addSubtask()"
              class="icon-hover"
            />
          </div>
          }
        </div>
        <div class="subtasks">
          @for (subtask of task.subtasks; track $index; let index = $index) {
          <div class="subtask-wrapper">
            @if (editingSubtaskIndex !== index) {
            <span class="v2-body subtask"><span class="bullet">.</span>{{ subtask.title }}</span>
            } @if (editingSubtaskIndex === index) {
            <input
              [(ngModel)]="subTaskEditInput"
              type="text"
              [ngModelOptions]="{ standalone: true }"
            />
            }
            <div class="subtask-icons" [ngStyle]="editingSubtaskIndex === index ? { 'visibility': 'visible' } : {} ">
              <img
                (click)="deleteSubtask(index)"
                class="subtask-icon"
                src="assets/img/delete-icon.png"
                alt=""
              />
              <img src="assets/img/divider-vertical.png" alt="" />
              @if (editingSubtaskIndex !== index) {
              <img
                (click)="openSubtaskEditMode(index)"
                class="subtask-icon"
                src="assets/img/edit-icon.png"
                alt=""
              />
              } @if (editingSubtaskIndex === index) {
              <img
                (click)="saveEditedSubtask(index)"
                class="subtask-icon"
                src="assets/img/check-icon.png"
                alt=""
              />
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </form>

  <!-- buttons -->
  <div class="btns">
    <div>
      <span class="required moveUp">*</span>
      <span>This field is required</span>
    </div>
    <button type="button" class="secondary" (click)="clearAllInputs()">
      Clear <img src="assets/img/btn-clear.png" alt="" />
    </button>
    <button
      [disabled]="!taskForm.valid"
      form="taskForm"
      type="submit"
      class="primary submitBtn"
    >
      Create Task <img src="assets/img/btn-check.png" alt="" />
    </button>
  </div>
</main>
