<main>
  <h1>Add Task</h1>
  <form id="taskForm" name="taskForm" (submit)="saveTask()">
    <div class="first">
      <!-- title -->
       <div class="input-wrapper">
        <label for="title">Title<span class="required">*</span></label>
      <input
        [(ngModel)]="task.title"
        name="title"
        type="text"
        class="input-field"
        placeholder="Enter a title"
      />
      <span class="hint">This field is required</span>
       </div>
      

      <!-- description -->
      <div class="textarea-wrapper">
        <label for="description">Description</label>
        <textarea
          [(ngModel)]="task.description"
          class="text-area"
          name="description"
          id=""
          placeholder="Enter a Description"
        ></textarea>
        <img
          class="textarea-icon"
          src="assets/img/textarea-resize-icon.png"
          alt=""
        />
      </div>

      <!-- assigned To -->
      <div class="custom-select">
        <label for="assignedTo">Assigned to</label>
        <div class="search-wrapper">
          <input
            [(ngModel)]="searchUserInput"
            (click)="toggleUserOptions()"
            name="assignedTo"
            type="text"
            class="input-field"
            placeholder="Select contacts to assign"
          />
          <img
            [ngStyle]="{
              transform: userOptions ? 'rotate(180deg)' : 'rotate(0deg)'
            }"
            class="category-drop-down-arrow"
            src="assets/img/arrow-drop-down.png"
            alt=""
          />
        </div>

        @if (userOptions) {
            <div class="options">
                @for (user of filteredUsers(); track $index) {
                <div (click)="asignUserToTask(user.name)" class="option">
                  <span
                    [ngStyle]="{
                      'background-color': taskService.getColorForUser(user.name)
                    }"
                    class="assignedToBubble"
                    >{{ user.name | initials }}</span
                  >
                  <span>{{ user.name }}</span>
                  @if (isUserChecked(user.name)) {
                      <img src="assets/img/check-icon-check.png" alt="">
                  } @else {
                      <img src="assets/img/check-icon-uncheck.png" alt="">
                  }
                </div>
                }
              </div>
        }
        

        @if (!userOptions) {
            <div class="assignedTo">
                @for (assignedUser of task.assignedTo; track $index) {
                <span
                  [ngStyle]="{
                    'background-color': taskService.getColorForUser(assignedUser)
                  }"
                  class="assignedToBubble assignedToUser"
                  >{{ assignedUser | initials }}</span
                >
                }
              </div>
        }
        

      </div>
    </div>
    <hr class="divider" />
    <div class="second">
      <!-- Due date -->
      <div class="input-wrapper">
        <label for="date">Due date<span class="required">*</span></label>
        <input
          [(ngModel)]="dueDate"
          class="input-field"
          name="date"
          type="date"
          placeholder="tt.mm.jjjj"
        />
        <span class="hint">This field is required</span>
      </div>

      <!-- priority -->
      <div class="prio">
        <label for="prio">Prio</label>
        <div>
          <button
            [ngClass]="{ 'prio-urgent': task.priority === 'urgent' }"
            type="button"
            (click)="changeTaskPrio('urgent')"
            class="prioBtn"
          >
            Urgent<img
              [src]="
                task.priority === 'urgent'
                  ? 'assets/img/prio-urgent-active.png'
                  : 'assets/img/prio-urgent.png'
              "
              alt=""
            />
          </button>
          <button
            [ngClass]="{ 'prio-medium': task.priority === 'medium' }"
            type="button"
            (click)="changeTaskPrio('medium')"
            class="prioBtn"
          >
            Medium<img
              [src]="
                task.priority === 'medium'
                  ? 'assets/img/prio-medium-active.png'
                  : 'assets/img/prio-medium.png'
              "
              alt=""
            />
          </button>
          <button
            [ngClass]="{ 'prio-low': task.priority === 'low' }"
            type="button"
            (click)="changeTaskPrio('low')"
            class="prioBtn"
          >
            Low<img
              [src]="
                task.priority === 'low'
                  ? 'assets/img/prio-low-active.png'
                  : 'assets/img/prio-low.png'
              "
              alt=""
            />
          </button>
        </div>
      </div>

      <!-- category -->
      <div class="custom-select">
        <label for="category">Category<span class="required">*</span></label>
        <div
          class="input-wrapper category-input-wrapper"
          (click)="toggleCategoryOptions()"
        >
          <input
            placeholder="Select task category"
            name="category"
            class="input-field category-input"
            type="text"
            [(ngModel)]="task.category"
          />
          <img
            [ngStyle]="{
              transform: taskCategoryOptions ? 'rotate(180deg)' : 'rotate(0deg)'
            }"
            class="category-drop-down-arrow"
            src="assets/img/arrow-drop-down.png"
            alt=""
          />
        </div>
        <div class="options">
          @if (taskCategoryOptions) {
          <span class="option" (click)="changeTaskCategory('Technical Task')"
            >Technical Task</span
          >
          <span class="option" (click)="changeTaskCategory('User Story')"
            >User Story</span
          >
          }
        </div>
        <span class="hint">This field is required</span>
      </div>

      <!-- subtasks -->
      <div class="subtasks-field">
        <label for="subTaskInput">Subtask</label>
        <div class="input-wrapper">
          <input
            name="subTaskInput"
            [(ngModel)]="subTaskInput"
            type="text"
            class="input-field"
            placeholder="Add new subtask"
          />
          @if (!subTaskInput) {
          <img class="input-icon" src="assets/img/plus-icon.png" alt="" />

          } @if (subTaskInput) {
          <div class="add-sub-icons input-icon">
            <img
              src="assets/img/close-icon.png"
              alt=""
              (click)="clearSubtaskInput()"
            />
            <span>|</span>
            <img
              src="assets/img/check-icon.png"
              alt=""
              (click)="addSubtask()"
            />
          </div>
          }
        </div>
        <div class="subtasks">
          @for (subtask of task.subtasks; track $index) {
          <div class="subtask-wrapper">
            <li>
              <span>{{ subtask.title }}</span>
            </li>
          </div>
          }
        </div>
      </div>
    </div>
  </form>

  <!-- buttons -->
  <div class="btns">
    <div>
      <span class="required">*</span>
      <span>This field is required</span>
    </div>
    <button type="button" class="secondary" (click)="clearAllInputs()">
      Clear X
    </button>
    <button form="taskForm" type="submit" class="primary">Create Task</button>
  </div>
</main>
