@import "../../styles.scss";

main {
  display: flex;
  flex-direction: column;
  max-height: 90dvh;
}

.mobile-margin {
  margin-right: auto;
  margin-left: 8px;
}

.opened-in-dialog {
  background-color: white;
  border-radius: 30px;
  padding: 64px;
}

.edit-mode {
  background-color: white;
  border-radius: 30px;
  padding: 48px 40px;
  max-height: 90vh;
  overflow-y: auto;
  @include dFlex($fd: column, $ai: flex-start, $jc: flex-start);
  max-width: calc(100vw - 16px);

  @media(max-width: 599px) {
    padding: 32px 8px;
  }
}

.headline {
  @include dFlex($jc: space-between);
  width: 100%;

  h1 {
    margin-bottom: 32px;
    @extend .v2-t1;
  }
}

.close-icon {
  @include dFlex();
  margin-left: auto;
  background-color: unset;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: unset;

  &:hover {
    background-color: #eeeeee;
  }
}

.closeDialog {
  @include dFlex();
  background-color: unset;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  border: unset;

  &:hover {
    background-color: #eeeeee;
  }
}



form {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(380px, 1fr) minmax(380px, 1fr);
  gap: 32px;

  @media(max-width: 999px) {
    grid-template-columns: 1fr;
  }
}

input,
textarea {
  width: 100%;
}

.textarea-wrapper {
  width: 100%;
  position: relative;
  @include dFlex($fd: column, $ai: flex-start);

}

textarea {
  resize: vertical;
  max-height: 200px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../../assets/img/calendar-icon.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}

::-webkit-resizer {
  display: none;
}

.textarea-icon {
  position: absolute;
  bottom: 10px;
  right: 8px;
}

.input-wrapper {
  width: 100%;
  position: relative;
  @include dFlex($fd: column, $ai: flex-start);
}

.input-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.category-input {
  pointer-events: none;
}

.category-input-wrapper {
  cursor: pointer;
  width: 100%;
}

.search-wrapper {
  width: 100%;
  position: relative;
}

.category-drop-down-arrow {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 14px;
}

.icon-hover:hover {
  border-radius: 100%;
  background-color: #eeeeee;
}

.add-sub-icons {
  @include dFlex();

  span {
    @extend .v2-t6;
    color: $color-grey;
  }
}

.first {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.second {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.custom-select {
  width: 100%;
  position: relative;
  @include dFlex($fd: column, $ai: flex-start, $g: 4px);
}

.options {
  z-index: 2;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: white;
  cursor: pointer;
  @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 4px);
  max-height: 250px;
  overflow-y: auto;
  width: 100%;

  .option {
    @include dFlex($jc: flex-start, $g: 16px);
    width: 100%;
    padding: 7px 16px;
    border-radius: 10px;
    @extend .v2-t6;

    &:hover {
      background-color: #eeeeee;
    }

    img {
      margin-left: auto;
    }
  }
}

.assignedTo {
  @include dFlex($jc: flex-start, $g: 4px);
  width: 100%;
}

.assignedToUser {
  margin: 0;
}

.divider {
  margin: 0;
  margin-block: auto;
  height: 380px;
  width: 2px;
  border-radius: 100vw;
  background-color: $color-grey;

  @media(max-width: 599px) {
    display: none;
  }
}

.btns {
  margin-top: 160px;
  width: 100%;
  padding-bottom: 32px;
  @include dFlex($jc: flex-end, $g: 16px);

  @media(max-width: 1299px) {
    margin-top: 64px;
  }

  @media(max-width: 599px) {
    margin-top: 32px;
  }

  >div {
    margin-right: auto;
  }

}

.moveUp {
  vertical-align: super;
  position: relative;
  top: 5px;
}

.required {
  color: $color-required-red;
}

.prio {
  @include dFlex($fd: column);
  width: 100%;

  @media(max-width: 599px) {
    width: 100%;
  }

  >div {
    width: 100%;
    @include dFlex($g: 16px, $jc: space-between);

    @media(max-width: 599px) {
      width: 100%;
      justify-content: space-between;
      gap: 8px;
    }
  }

  label {
    margin-bottom: 2px;
    margin-right: auto;
  }
}

.prioBtn {
  @extend .v2-t6;
  @include dFlex($g: 8px);
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: white;
  padding: 16px 10px;
  border-radius: 10px;
  border: unset;
  height: 56px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 9px 15px 3px rgba(0, 0, 0, 0.1019607843);
  }

  @media(max-width: 1299px) {
    gap: 4px;
  }
}

.prio-urgent {
  color: white;
  background-color: $color-red-urgent;
}

.prio-medium {
  color: white;
  background-color: $color-orange-medium;
}

.prio-low {
  color: white;
  background-color: $color-green-low;
}

.subtasks {
  margin-top: 4px;
}

.subtasks-field {
  width: 100%;
}

.subtask-wrapper {
  position: relative;
  @include dFlex($jc: flex-start);
  height: 35px;

  input {
    @extend .v2-t6;
    color: $color-grey;
    border: unset;
    padding: 7px 16px;
    height: 100%;

    &:focus {
      outline: none;
      border-bottom: 1px solid $color-input-focus-blue;
    }
  }

  &:hover .subtask-icons {
    visibility: visible;
  }
}

.bullet {
  font-size: 32px;
  font-weight: 900;
  vertical-align: super;
  position: relative;
  top: -9px;
  margin-right: 8px;
}

.subtask {
  cursor: pointer;
  display: flex;
  padding: 7px 16px;
  border-radius: 10px;
  width: 100%;

  &:hover {
    background-color: #eeeeee;
  }
}

.subtask-icons {
  visibility: hidden;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.subtask-icon {
  padding: 2px;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}

.clear-btn {
  @media(max-width: 599px) {
    display: none;
  }
}

.mobile-span {
  @media(max-width: 599px) {
    font-size: 14px;
  }
}