@import "../../styles.scss";

.headline {
  @include dFlex($jc: space-between);
  h1 {
    margin-bottom: 32px;
    @extend .v2-t1;
  }
}

.closeDialog {
  @include dFlex();
  background-color: unset;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  border: unset;
  &:hover {
    background-color: #eeeeee;
  }
}

.hint {
  @extend .form-hint;
  position: absolute;
  bottom: -16px;
  left: 0;
  color: $color-required-red;
}

form {
  @include dFlex($ai: flex-start, $jc: flex-start, $g: 32px);
}

input,
textarea {
  width: 440px;
}

.textarea-wrapper {
  position: relative;
  @include dFlex($fd: column, $ai: flex-start);
}

textarea {
  resize: vertical;
  max-height: 200px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../../assets/img/calendar-icon.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}

::-webkit-resizer {
  display: none;
}

.textarea-icon {
  position: absolute;
  bottom: 10px;
  right: 8px;
}

.input-wrapper {
  position: relative;
  @include dFlex($fd: column, $ai: flex-start);
}

.input-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.category-input {
  pointer-events: none;
}

.category-input-wrapper {
  cursor: pointer;
}

.search-wrapper {
  position: relative;
}

.category-drop-down-arrow {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 14px;
}

.icon-hover:hover {
  border-radius: 100%;
  background-color: #eeeeee;
}

.add-sub-icons {
  @include dFlex();
  span {
    @extend .v2-t6;
    color: $color-grey;
  }
}

.first {
  @include dFlex($fd: column, $ai: flex-start, $g: 32px);
}

.second {
  @include dFlex($fd: column, $ai: flex-start, $g: 32px);
}

.custom-select {
  position: relative;
  @include dFlex($fd: column, $ai: flex-start, $g: 4px);
}

.options {
  z-index: 2;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: white;
  cursor: pointer;
  @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 4px);
  max-height: 250px;
  overflow-y: auto;
  width: 100%;
  .option {
    @include dFlex($jc: flex-start, $g: 16px);
    width: 100%;
    padding: 7px 16px;
    border-radius: 10px;
    @extend .v2-t6;
    &:hover {
      background-color: #eeeeee;
    }
    img {
      margin-left: auto;
    }
  }
}

.assignedTo {
  @include dFlex($jc: flex-start, $g: 4px);
  width: 100%;
}

.assignedToUser {
  margin: 0;
}

.divider {
  margin: 0;
  margin-block: auto;
  height: 380px;
  width: 2px;
  border-radius: 100vw;
  background-color: $color-grey;
}

.btns {
  margin-top: 160px;
  @include dFlex($jc: flex-end, $g: 16px);
  > div {
    margin-right: auto;
  }
}

.moveUp {
  vertical-align: super;
  position: relative;
  top: 5px;
}

.required {
  color: $color-required-red;
}

.prio {
  @include dFlex($fd: column);
  > div {
    @include dFlex($g: 16px);
  }
  label {
    margin-bottom: 2px;
    margin-right: auto;
  }
}

.prioBtn {
  @extend .v2-t6;
  @include dFlex($g: 8px);
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: white;
  padding: 16px 10px;
  border-radius: 10px;
  border: unset;
  width: 136px;
  height: 56px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 9px 15px 3px rgba(0, 0, 0, 0.1019607843);
  }
}

.prio-urgent {
  color: white;
  background-color: $color-red-urgent;
}

.prio-medium {
  color: white;
  background-color: $color-orange-medium;
}

.prio-low {
  color: white;
  background-color: $color-green-low;
}

.subtasks {
  margin-top: 4px;
}

.subtask-wrapper {
  position: relative;
  @include dFlex($jc: flex-start);
  height: 35px;
  input {
    @extend .v2-t6;
    color: $color-grey;
    border: unset;
    padding: 7px 16px;
    height: 100%;
    &:focus {
      outline: none;
      border-bottom: 1px solid $color-input-focus-blue;
    }
  }
  &:hover .subtask-icons {
    visibility: visible;
  }
}

.bullet {
  font-size: 32px;
  font-weight: 900;
  vertical-align: super;
  position: relative;
  top: -9px;
  margin-right: 8px;
}

.subtask {
  cursor: pointer;
  display: flex;
  padding: 7px 16px;
  border-radius: 10px;
  width: 100%;
  &:hover {
    background-color: #eeeeee;
  }
}

.subtask-icons {
  visibility: hidden;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.subtask-icon {
  padding: 2px;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background-color: #eeeeee;
  }
}
