@import '../../styles.scss';

main{
    display: flex;
    @media(max-width: 950px) {
        margin: 0;
      }
}

.list-view {
    @include dFlex($fd: column, $jc: flex-start);
    width: 450px;
    height: 100%;
    padding: 32px 0 32px 24px;
    box-shadow: 4px 0px 6px 0px #00000014;
    background-color: white;
    @media(max-width: 950px) {
        width: 100%;
        padding: 0;
        justify-content: center;
      }
}

.list{
    width: 100%;
    height: calc(100vh - 60px - 100px - 61px);
    overflow-y: auto;
    @media(max-width: 950px) {
        overflow-y: unset;
        height: unset;
      }
}

.detail-view{
    flex-grow: 1;
    background-color: $color-bg-white;
    padding: 32px 54px;
    header{
        height: 60px;
        @include dFlex($g: 30px);
        span{
            color: $color-main;
        }
    }
    @media(max-width: 950px) {
        display: none;
      }
}

.addContactBtn {
    gap: 16px;
}

