<main>
    <section class="list-view">
        <header>
            <button class="primary addContactBtn">Add new contact <img src="assets/img/add-contact.png" alt=""></button>
        </header>
        <div class="list">
            @for (letterGroup of userService.fireService.letterUser; track $index; let index = $index) {
                <div class="letter-user">
                    <app-contacts-letter-user-group [userGroup]="letterGroup"></app-contacts-letter-user-group>
                </div>
            }
        </div>
    </section>
    <section class="detail-view">
        <header>
            <h1 class="v2-t1">Contacts</h1>
            <img src="assets/img/divider-vertical-blue.png" alt="">
            <span class="v2-t5">Better with a team</span>
        </header>
    </section>
    
</main>
