@import '../../styles.scss';

main{
    margin: 96px 0 0 232px;
    height: calc(100vh - 96px);
    display: flex;
}

.list-view {
    @include dFlex($fd: column, $jc: flex-start);
    width: 450px;
    height: 100%;
    padding: 32px 0 32px 24px;
    box-shadow: 4px 0px 6px 0px #00000014;
}

.list{
    width: 100%;
    height: calc(100vh - (96px + 60px));
    overflow-y: auto;
}

.detail-view{
    flex-grow: 1;
    background-color: $color-bg-white;
    padding: 32px 54px;
    header{
        height: 60px;
        @include dFlex($g: 30px);
        span{
            color: $color-main;
        }
    }
}

.addContactBtn {
    gap: 16px;
}

.overlay{
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    //opacity: 0.9;
    background-color: rgba(208, 207, 207, 0.688);
}