<main>
    <section class="list-view">
        <header>
            <button (click)="toggleOverlay()" class="primary addContactBtn">Add new contact <img src="assets/img/add-contact.png" alt=""></button>
        </header>
        <div class="list">
            @for (letterGroup of userService.fireService.letterUser; track $index; let index = $index) {
                <div class="letter-user">
                    <app-contacts-letter-user-group (selectedUser)="setSelectedUser($event)" [userGroup]="letterGroup"></app-contacts-letter-user-group>
                </div>
            }
        </div>
    </section>
    <section class="detail-view">
        <header>
            <h1 class="v2-t1">Contacts</h1>
            <img src="assets/img/divider-vertical-blue.png" alt="">
            <span class="v2-t5">Better with a team</span>
        </header>


        @if (userService.showDetailView) {
            <div @openClose class="detail">
                <app-contacts-detail-view [currentUser]="selectedUser"></app-contacts-detail-view>
            </div>
        }
        
    </section>
    
    <button (click)="toggleOverlay()" class="mobile-add-btn"><img src="assets/img/contact-mobile-add.png" alt=""></button>
</main>


@if (showContactOverlay) {
    <div @toggleOverlay class="overlay">
        <app-contacts-form (overlayClosed)="hideOverlay($event)"></app-contacts-form>
    </div>

    <div (click)="toggleOverlay()" class="background"></div>
}

