@import '../../../styles.scss';

.menu-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: transparent;
}

header {
    z-index: 3;
    box-shadow: 0px 4px 4px 0px #0000001A;
    padding: 20px 40px 20px 116px;
    @include dFlex($jc: space-between);
    height: 96px;
    background-color: white;
    
    @media(max-width: 950px) {
        top: 0;
        left: 0;
        right: 0;
        width: unset;
        padding: 8px 16px;
    }

    .mobile-logo {
        height: 39px;
        width: 32px;

        @media(min-width: 951px) {
            display: none;
        }
    }

    h2 {
        @extend .v2-t6;

        @media(max-width: 950px) {
            display: none;
        }
    }



    .btns {
        @include dFlex($g: 16px);

        .help-wrapper {
            @include dFlex();
            cursor: pointer;
            border: 1px solid $color-icon;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            background-color: unset;

            a {
                color: $color-icon;
                text-decoration: none;
            }

            @media(max-width: 950px) {
                display: none;
            }
        }

        .user-profile {
            @include dFlex();
            cursor: pointer;
            border: 3px solid #2A3647;
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 500;
            width: 56px;
            height: 56px;
            color: $color-lightblue;
            border-radius: 100%;
            background-color: unset;

            &:hover {
                background-color: $color-grey;
            }

            &:focus {
                background-color: $color-grey;
            }
        }
    }

}

.btn-wrapper {
    position: relative;
}

.popup {
    z-index: 5;
    border-radius: 20px 0 20px 20px;
    padding: 18px 26px;
    @include dFlex($fd: column, $ai: flex-start, $g: 24px);
    position: absolute;
    top: 80px;
    right: -16px;
    background-color: $color-main;

    .mobile-help {
        @media(min-width: 951px) {
            display: none;
        }
    }

    a {
        color: #cdcdcd;
        @extend .v2-body;
        text-decoration: none;
        cursor: pointer;
        text-wrap: nowrap;
        padding: 8px 16px;
        border-radius: 10px;

        &:hover {
            background-color: #42546df1;
        }
    }

    @media(max-width: 950px) {
        right: -6px;
    }
}

.confirm-password {
    position: relative;
    @include dFlex($fd: column, $g: 8px, $ai: flex-start);

    input {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}