@import '../../../styles.scss';

header{
    box-shadow: 0px 4px 4px 0px #0000001A;
    padding: 20px 40px 20px 116px;
    @include dFlex($jc: space-between);
    position: fixed;
    top: 0;
    right: 0;
    height: 96px;
    width: calc(100vw - 232px);
    background-color: white;
    h2{
        @extend .v2-t6;
    }

    .btns{
        @include dFlex($g: 16px);
        .help{
            cursor: pointer;
            color: $color-icon;
            border: 1px solid $color-icon;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            background-color: unset;
        }
    
        .user-profile{
            cursor: pointer;
            border: 3px solid #2A3647;
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 500;
            width: 56px;
            height: 56px;
            color: $color-lightblue;
            border-radius: 100%;
            background-color: unset;
            &:hover{
                background-color: $color-grey;
            }
            &:focus{
                background-color: $color-grey;
            }
        }
    }
    
}

.btn-wrapper{
    position: relative;
}

.popup{
    border-radius: 20px 0 20px 20px;
    padding: 18px 26px;
    @include dFlex($fd: column, $ai: flex-start, $g: 24px);
    position: absolute;
    top: 80px;
    right: -16px;
    background-color: $color-main;
    a{
        color: #cdcdcd;
        @extend .v2-body;
        text-decoration: none;
        cursor: pointer;
        text-wrap: nowrap;
        padding: 8px 16px;
        border-radius: 10px;
        &:hover{
            background-color: #42546df1;
        }
    }
}