<header>
    <h2>Kanban Project Management Tool</h2>
    <img (click)="uiService.goHome()" class="mobile-logo" src="assets/img/join-logo-maincolor.png" alt="">
    @if (uiService.userIsLoggedIn) {
        <div class="btns">
            <button routerLink="help" class="help">?</button>
            <div class="btn-wrapper">
                <button (click)="uiService.toggleHeaderMenu()" class="user-profile">
                      {{ authService.auth.currentUser?.displayName | initials }}
                </button>
                @if(uiService.showHeaderMenu){
                    <div (click)="uiService.toggleHeaderMenu()" class="menu-bg"></div>
                    <div class="popup">
                        <a (click)="goToRouteAndClose('help')" class="mobile-help">Help</a>
                        <a (click)="goToRouteAndClose('imprint')">Legal Notice</a>
                        <a (click)="goToRouteAndClose('privacy')">Privacy Policy</a>
                        <a (click)="logUserOut()">Log out</a>
                    </div>
                }
                
            </div>
        </div>
    }
    
</header>
