<header>
    <h2>Kanban Project Management Tool</h2>
    <img class="mobile-logo" src="assets/img/join-logo-maincolor.png" alt="">
    <div class="btns">
        <button (click)="resetTasks()" class="help">?</button>
        <div class="btn-wrapper">
            <button (click)="uiService.toggleHeaderMenu()" class="user-profile">
                {{ showNameAsString() | initials }}
            </button>
            @if(uiService.showHeaderMenu){
                <div class="popup">
                    <a class="mobile-help" href="">Help</a>
                    <a href="">Legal Notice</a>
                    <a href="">Privacy Policy</a>
                    <a (click)="logUserOut()">Log out</a>
                </div>
            }
            
        </div>
    </div>
</header>
