<header>
    <h2>Kanban Project Management Tool</h2>
    <img (click)="uiService.goHome()" class="mobile-logo" src="assets/img/join-logo-maincolor.png" alt="">
    @if (uiService.userIsLoggedIn) {
        <div class="btns">
            <div class="help-wrapper">
                <a routerLink="help" class="help">?</a>
            </div>
            <div class="btn-wrapper">
                <button (click)="uiService.toggleHeaderMenu()" class="user-profile">
                      {{ authService.auth.currentUser?.displayName | initials }}
                </button>
                @if(uiService.showHeaderMenu){
                    <div (click)="uiService.toggleHeaderMenu()" class="menu-bg"></div>
                    <div class="popup">
                        <a (click)="goToRouteAndClose('help')" class="mobile-help">Help</a>
                        <a (click)="goToRouteAndClose('imprint')">Legal Notice</a>
                        <a (click)="goToRouteAndClose('privacy')">Privacy Policy</a>
                        <a (click)="logUserOut()">Log out</a>
                        <a (click)="authService.deleteAccount()">Delete Account</a>
                        @if (uiService.showPWConfirmation) {
                            <div class="confirm-password">
                                @if (uiService.wrongPwConfirmation) {
                                    <span class="error">Wrong Password, please try again.</span>
                                }
                                <input class="input-field" placeholder="Confirm Password" type="password" [(ngModel)]="password">
                                <button class="secondary btn" (click)="authService.reAuthenticateUser(authService.userEmailCache, password)">Confirm</button>
                            </div>
                        }
                        
                    </div>
                    
                }
                
            </div>
        </div>
    }
    
</header>
