@import "../../styles.scss";

.divider {
  width: 3px;
  height: 100px;
  border-radius: 100vw;
  background-color: $color-lightblue;
  margin: 0;
  @media(max-width: 950px){
    display: none;
  }
}

.divider-mobile{
  margin: 0;
  height: 3px;
  width: 90px;
  border-radius: 100vw;
  background-color: $color-lightblue;
  @media(min-width: 951px) {
    display: none;
  }
}

main {
  height: 100%;
  background-color: $color-bg-white;
  @include dFlex($fd: column, $ai: flex-start, $g: 56px, $jc: flex-start);
  padding: 96px;

  @media(max-width: 950px) {
    padding: 8px;
    height: unset;
  }
}

header {
  @include dFlex($jc: flex-start, $g: 30px);
  @media(max-width: 950px){
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  h1 {
    margin: 0;
    @extend .v2-t1;
  }


  h3 {
    margin: 0;
    @extend .v2-t5;
    color: $color-main;
  }
}

section {
  @include dFlex($g: 80px);

  .summary {
    @include dFlex($g: 32px, $fd: column);

    .medium {
      @include dFlex($g: 32px);
      @media(max-width: 950px){
       gap: 8px;
      }

      .medium-btn {
        cursor: pointer;
        width: 264px;
        height: 168px;
        box-shadow: 0px 0px 4px 0px #0000001a;
        background-color: white;
        border: unset;
        padding: 38px 19px;
        border-radius: 30px;
        @include dFlex($g: 18px);
        transition: transform 125ms ease-out;
        @media(max-width: 950px){
          width: calc((100vw - 32px) / 2);
          height: 110px;
          padding: 8px 6px;
        }
        .icon {
          width: 69px;
          height: 69px;
          background-color: $color-main;
          border: unset;
          border-radius: 100%;
          @include dFlex();
          @media(max-width: 950px) {
            width: 40px;
            height: 40px;
          }
          svg{
            @media(max-width: 950px) {
              scale: 0.7;
            }
          }
        }

        .btn-text {
          color: $color-main;
          font-size: 14px;
          line-height: 32px !important;
        }

        .text {
          h1 {
            margin: 0;
            @extend .summary-number;
          }

          span {
            @extend .v2-t6;
          }
        }

        &:hover .btn-font {
          color: white;
        }

        &:hover {
          box-shadow: 0px 4px 4px 0px #00000040;
          background-color: $color-main;
          transform: scale(1.1, 1.1) translate(-5px, 5px);
        }

        &:hover .icon {
          background-color: white;
        }

        &:hover svg {

          rect,
          path {
            stroke: $color-main;
          }
        }

        &:hover .edit-icon {
          svg {

            rect,
            path {
              fill: $color-main;
            }
          }
        }
      }
    }

    .large {
      background-color: white;
      border: unset;
      border-radius: 30px;
      padding: 28px 48px;
      @include dFlex($g: 48px);
      box-shadow: 0px 0px 4px 0px #0000001a;
      width: 560px;
      height: 168px;
      cursor: pointer;
      transition: transform 125ms ease-out;
      @media(max-width: 950px){
        width: calc(100vw - 16px);
        height: 110px;
        padding: 8px 6px;
      }
      .btn-font {
        color: $color-main;
      }

      .counter {
        @include dFlex($g: 18px);
        img{
          @media(max-width: 950px){
            height: 40px;
            width: 40px;
          }
        }

        .counter-number {
          h1 {
            margin: 0;
            @extend .summary-number;
          }

          span {
            @extend .v2-body;
          }
        }
      }

      

      .date {
        @include dFlex($fd: column, $g: 13px);

        & span:nth-of-type(1) {
          font-family: Inter;
          font-size: 21px;
          font-weight: 700;
          line-height: 25.2px;
          text-align: left;
        }

        & span:nth-of-type(2) {
          @extend .v2-body;
        }
      }

      &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: $color-main;
        transform: scale(1.1, 1.1) translate(-5px, 5px);
      }

      &:hover .btn-font {
        color: white;
      }
    }
  }

  .small {
    @include dFlex($g: 32px);
    @media(max-width: 950px){
      gap: 8px;
    }

    .small-btn {
      cursor: pointer;
      width: 168px;
      height: 168px;
      border: unset;
      border-radius: 30px;
      @include dFlex($fd: column, $g: 13px);
      box-shadow: 0px 0px 4px 0px #0000001a;
      padding: 25px;
      background-color: white;
      transition: transform 125ms ease-out;
      @media(max-width: 950px){
        gap: 8px;
        width: calc((100vw - 32px) / 3);
        height: 130px;
        padding: 8px 6px;
      }
      .btn-font {
        color: $color-main;
      }

      h1 {
        margin: 0;
        @extend .summary-number;
      }

      span {
        @extend .v2-t6;
      }

      &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: $color-main;
        transform: scale(1.1, 1.1) translate(-5px, 5px);
      }

      &:hover .btn-font {
        color: white;
      }
    }

  }

}

.greeting {
  @media(max-width: 950px){
    display: none;
  }
  h3 {
    margin: 0;
    @extend .v2-t2;
    color: $color-main;
    
  }

  h2 {
    margin: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    color: $color-lightblue;
  }
}