<main>
  <header>
    <h1>Join 360</h1>
    <hr class="divider" />
    <h3>Key Metrics at a Glance</h3>
    <hr class="divider-mobile">
  </header>

  <section>
    <div class="summary">
      <div class="medium">
        <button routerLink="/board" class="medium-btn">
          <div class="icon edit-icon">
            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_214364_6093" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="33"
                height="32">
                <rect x="0.5" width="32" height="32" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_214364_6093)">
                <path
                  d="M7.16667 25.3332H9.03333L20.5333 13.8332L18.6667 11.9665L7.16667 23.4665V25.3332ZM26.2333 11.8998L20.5667 6.29984L22.4333 4.43317C22.9444 3.92206 23.5722 3.6665 24.3167 3.6665C25.0611 3.6665 25.6889 3.92206 26.2 4.43317L28.0667 6.29984C28.5778 6.81095 28.8444 7.42761 28.8667 8.14984C28.8889 8.87206 28.6444 9.48873 28.1333 9.99984L26.2333 11.8998ZM24.3 13.8665L10.1667 27.9998H4.5V22.3332L18.6333 8.19984L24.3 13.8665Z"
                  fill="white" />
              </g>
            </svg>
          </div>
          <div class="text">
            <h1 class="btn-text">{{ getNumberOfTasks("todo") }}</h1>
            <span class="btn-text">To-do</span>
          </div>
        </button>
        <button routerLink="/board" class="medium-btn">
          <div class="icon">
            <svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.02832 15.0001L15.2571 26.0662L33.9717 3.93408" stroke="white" stroke-width="7"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="text">
            <h1 class="btn-text">{{ getNumberOfTasks("done") }}</h1>
            <span class="btn-text">Done</span>
          </div>
        </button>
      </div>
      <button routerLink="/board" class="large">
        <div class="counter">
          <img src="assets/img/summary-urgent-icon.png" alt="" />
          <div class="counter-number">
            <h1 class="btn-text">{{ getNumberOfUrgentTasks() }}</h1>
            <span class="btn-text">Urgent</span>
          </div>
        </div>
        <hr class="divider-btn" />
        <div class="date">
          <span class="btn-text">{{ getnextDueDate()}}</span>
          <span class="btn-text">Upcoming Deadline</span>
        </div>
      </button>
      <div class="small">
        <button routerLink="/board" class="small-btn">
          <h1 class="btn-text">{{ taskService.fireService.tasks.length }}</h1>
          <span class="btn-text">Tasks in board</span>
        </button>
        <button routerLink="/board" class="small-btn">
          <h1 class="btn-text">{{ getNumberOfTasks("progress") }}</h1>
          <span class="btn-text">Tasks in Progress</span>
        </button>
        <button routerLink="/board" class="small-btn">
          <h1 class="btn-text">{{ getNumberOfTasks("feedback") }}</h1>
          <span class="btn-text">Awaiting Feedback</span>
        </button>
      </div>
    </div>
    <div class="greeting">
      <h3 (click)="getGreetingMessage()">{{ getGreetingMessage() }}</h3>
      <h2>{{ authService.auth.currentUser?.displayName }}</h2>
    </div>
  </section>

  @if (uiService.mobileGreeting) {
    <div @fadeIn class="mobile-greeting">
      <h3 (click)="getGreetingMessage()">{{ getGreetingMessage() }}</h3>
      <h2>{{ authService.auth.currentUser?.displayName }}</h2>
    </div>
    <div class="greeting-background"></div>
    }
</main>

