@import "../../styles.scss";



main {
  margin: 96px 0 0 232px;
  background-color: $color-bg-white;
  height: calc(100vh - 96px);
  @include dFlex($fd: column, $ai: flex-start, $g: 56px);
  padding: 96px;
}

header {
  @include dFlex($jc: flex-start, $g: 30px);

  h1 {
    margin: 0;
    @extend .v2-t1;
  }

  hr {
    height: 59px;
    width: 3px;
    background-color: $color-lightblue;
    border-radius: 100vw;
  }

  h3 {
    margin: 0;
    @extend .v2-t5;
    color: $color-main;
  }
}

section {
  @include dFlex($g: 80px);

  .summary {
    @include dFlex($g: 32px, $fd: column);

    .medium {
      @include dFlex($g: 32px);

      .medium-btn {
        cursor: pointer;
        width: 264px;
        height: 168px;
        box-shadow: 0px 0px 4px 0px #0000001a;
        background-color: white;
        border: unset;
        padding: 38px 19px;
        border-radius: 30px;
        @include dFlex($g: 18px);
        transition: transform 125ms ease-out;
        .icon {
          width: 69px;
          height: 69px;
          background-color: $color-main;
          border: unset;
          border-radius: 100%;
          @include dFlex();
        }

        .btn-font {
          color: $color-main;
        }

        .text {
          h1 {
            margin: 0;
            @extend .summary-number;
          }

          span {
            @extend .v2-t6;
          }
        }

        &:hover .btn-font {
          color: white;
        }

        &:hover {
          box-shadow: 0px 4px 4px 0px #00000040;
          background-color: $color-main;
          transform: scale(1.1, 1.1) translate(-5px, 5px);
        }

        &:hover .icon {
          background-color: white;
        }

        &:hover svg {

          rect,
          path {
            stroke: $color-main;
          }
        }

        &:hover .edit-icon {
          svg {

            rect,
            path {
              fill: $color-main;
            }
          }
        }
      }
    }

    .large {
      background-color: white;
      border: unset;
      border-radius: 30px;
      padding: 28px 48px;
      @include dFlex($g: 48px);
      box-shadow: 0px 0px 4px 0px #0000001a;
      width: 560px;
      height: 168px;
      cursor: pointer;
      transition: transform 125ms ease-out;
      .btn-font {
        color: $color-main;
      }

      .counter {
        @include dFlex($g: 18px);

        .counter-number {
          h1 {
            margin: 0;
            @extend .summary-number;
          }

          span {
            @extend .v2-body;
          }
        }
      }

      .divider {
        width: 2px;
        height: 100px;
        border-radius: 100vw;
        background-color: $color-grey;
        margin: 0;
      }

      .date {
        @include dFlex($fd: column, $g: 13px);

        & span:nth-of-type(1) {
          font-family: Inter;
          font-size: 21px;
          font-weight: 700;
          line-height: 25.2px;
          text-align: left;
        }

        & span:nth-of-type(2) {
          @extend .v2-body;
        }
      }

      &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: $color-main;
        transform: scale(1.1, 1.1) translate(-5px, 5px);
      }

      &:hover .btn-font {
        color: white;
      }
    }
  }

  .small {
    @include dFlex($g: 32px);

    .small-btn {
      cursor: pointer;
      width: 168px;
      height: 168px;
      border: unset;
      border-radius: 30px;
      @include dFlex($fd: column, $g: 13px);
      box-shadow: 0px 0px 4px 0px #0000001a;
      padding: 25px;
      background-color: white;
      transition: transform 125ms ease-out;
      .btn-font {
        color: $color-main;
      }

      h1 {
        margin: 0;
        @extend .summary-number;
      }

      span {
        @extend .v2-t6;
      }

      &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: $color-main;
        transform: scale(1.1, 1.1) translate(-5px, 5px);
      }

      &:hover .btn-font {
        color: white;
      }
    }

  }

}

.greeting {
  h3 {
    margin: 0;
    @extend .v2-t2;
    color: $color-main;
  }

  h2 {
    margin: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    color: $color-lightblue;
  }
}