<div class="login">
  <div class="headline-wrapper">
    <h1>Log in</h1>
    <hr class="blue-line" />
  </div>
  <form (ngSubmit)="onSubmit(loginform)" #loginform="ngForm" name="loginform" id="loginform">
    <div class="input-wrapper">
      @if (authService.wrongPw) {
      <span class="error">Check your email and password. Please try again.</span>
      }
      <input #email="ngModel" [ngClass]="{ 'input-field-error': !email.valid && email.touched}" required
        [(ngModel)]="contactData.email" name="email" id="email" class="input-field" type="email" placeholder="Email"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />
      <img src="assets/img/mail.png" alt="">
      @if (!email.valid && email.touched) {
      <span class="hint">This field is required</span>
      }
    </div>
    <div class="input-wrapper">
      <input [ngClass]="{ 'input-field-error': !password.valid && password.touched}" #password="ngModel" required
        minlength="6" [(ngModel)]="contactData.password" name="password" id="password" class="input-field"
        [type]="passwordFieldType" placeholder="Password" />
      <!-- <img src="assets/img/lock.png" alt=""> -->
      @if (password.dirty && passwordFieldType === 'password') {
        <img (click)="togglePasswordFieldType()" class="input-icon" src="assets/img/visibility_off.png" alt="" />

      }
      @if (!password.dirty) {
        <img class="input-icon" src="assets/img/lock.png" alt="" />
      }
      @if (password.dirty && passwordFieldType === 'text') {
        <img (click)="togglePasswordFieldType()" class="input-icon" src="assets/img/visibility.png" alt="" />
      }
      @if (!password.valid && password.touched) {
      <span class="hint">This field is required</span>
      }
    </div>
    <div class="btns">
      <button type="submit" [disabled]="!loginform.valid" class="primary">Log in</button>
      <button type="button" (click)="guestLogin()" class="secondary">Guest Log in</button>
    </div>
  </form>
</div>