@import '../../styles.scss';

.logo{
    position: fixed;
    top: 80px;
    left: 77px;
}

.signup{
    @include dFlex($g: 35px);
    margin-left: auto;
    span{
        @extend .v2-t6
    }
}

main{
    background-color: $color-bg-white;
    @include dFlex($fd: column);
    width: 100%;
    height: 100vh;
    padding: 48px;

    .login{
        margin-top: auto;
        max-width: 650px;
        max-height: 500px;
        padding: 48px 115px 48px 115px;
        box-shadow: 0px 0px 14px 3px #0000000A;
        background-color: white;
        border-radius: 30px;
        @include dFlex($fd: column, $g: 32px);
        form{
            @include dFlex($fd: column, $g: 32px);
        }
        .btns{
            @include dFlex($g: 35px);
        }
        h1{
            @extend .v2-t1;
        }
        .input-wrapper{
            position: relative;
            img{
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
            }
        }
        .checkbox-wrapper{
            @include dFlex($g: 16px);
            label{
                @extend .v2-body;
            }
        }
    }

    .legals{
        margin-top: auto;
        @include dFlex($g: 35px);
        a{
            @extend .v2-body;
            @include link($c: $color-icon);
        }
    }
}