@import "../../styles.scss";

.login {
  width: 100%;
  height: 100%;
  @include dFlex($fd: column, $g: 32px);
  form {
    @include dFlex($fd: column, $g: 32px);
  }
  .btns {
    @include dFlex($g: 35px);
    @media(max-width: 950px) {
      flex-direction: column;
      gap: 10px;
    }
    button{
      @media(max-width: 950px) {
        font-size: 16px;
        width: 140px;
      }
    }
  }
  .input-wrapper {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
    }
    input {
      width: 420px;
      @media(max-width: 950px) {
        width: 280px;
      }
    }
  }
  .checkbox-wrapper {
    @include dFlex($g: 16px);
    label {
      @extend .v2-body;
    }
  }
}

.headline-wrapper {
    @include dFlex($fd: column);
  h1 {
    @extend .v2-t1;
    margin: 0;
  }
  hr {
    margin: 8px 0 0 0;
    height: 4px;
    width: 150px;
    border-radius: 100vw;
    background-color: $color-lightblue;
    border: unset;
  }
}
