    
  
  
  <div class="login">
    <div class="headline-wrapper">
      <h1>Log in</h1>
      <hr class="blue-line" />
    </div>
    <form>
        <div class="input-wrapper">
            <input class="input-field" type="email" placeholder="Email" />
            <img src="assets/img/mail.png" alt="">
        </div>
        <div class="input-wrapper">
            <input class="input-field" type="password" placeholder="Password" />
            <img src="assets/img/lock.png" alt="">
        </div>
      <div class="checkbox-wrapper">
        <input name="checkbox" type="checkbox" />
        <label for="checkbox">Remember me</label>
      </div>

      <div class="btns">
        <button class="primary">Log in</button>
        <button type="button" (click)="signIn()" class="secondary">Guest Log in</button>
        <button type="button" (click)="authService.signOut()" class="secondary">Log out</button>
      </div>
    </form>
  </div>



 
