@import '../styles.scss';



.landscape{
   text-align: center;
   font-size: 32px;
}

.landscape-wrapper{
   width: 100vw;
   height: 100dvh;
   @include dFlex($fd: column, $jc: space-around);
   padding: 32px;
   background-color: $color-main;
   color: white;
}


.confirm-popup-background {
   position: fixed;
   z-index: 4;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(208, 207, 207, 0.688);
}

.popup-wrapper {
   z-index: 5;
   position: fixed;
   bottom: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


.on-login {
   height: 100dvh;
   display: flex;
   width: 100vw;
}

.flex-container{
   max-width: $content-limit;
   display: flex;
   justify-content: center;
   margin-inline: auto;
}

.grid-container {
   margin-inline: auto;
   max-width: $content-limit;
   display: grid;
   grid-template-columns: 232px 1fr;
   grid-template-rows: auto 1fr auto;
   grid-template-areas: "nav header" "nav main";
}

.nav {
   height: 100dvh;
   grid-column: 1;
   grid-area: nav;
}

.header {
   height: 100px;
   grid-row: 1;
   grid-column: 2;
   grid-area: header;
}

.main {
   grid-row: 2;
   grid-column: 2;
   grid-area: main;
   overflow-y: auto;
   height: calc(100dvh - 100px);
   background-color: $color-bg-white;
}

@media (max-width: 950px) {
   .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
         "header"
         "main"
         "nav";
      height: 100dvh;
   }

   .nav {
      height: 80px;
   }

   .main {
      height: 100%;
   }

   .header,
   .main,
   .nav {
      width: 100%;
   }
}

