<main>
  <header>
    <img (click)="hideSignUp()" src="assets/img/arrow-blue-left.png" alt="" />
    <div class="headline-wrapper">
      <h1>Sign up</h1>
      <hr class="blue-line" />
    </div>
  </header>
  <form
    (ngSubmit)="onSubmit(userForm)"
    #userForm="ngForm"
    name="userForm"
    id="userForm"
  >
    <div class="input-wrapper">
      <input
        #username="ngModel"
        name="name"
        id="name"
        [(ngModel)]="contactData.name"
        placeholder="Name"
        type="text"
        class="input-field"
        required
        
      />
      <img class="input-icon" src="assets/img/input-icon-person.png" alt="" />
    </div>
    <div class="input-wrapper">
      <input
        placeholder="Email"
        type="email"
        class="input-field"
        [(ngModel)]="contactData.email"
        #mail="ngModel"
        name="mail"
        id="mail"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      <img class="input-icon" src="assets/img/mail.png" alt="" />
      
    </div>
    <div class="input-wrapper">
      <input
      [ngClass]="{'input-field-error': passwordConfirmation.touched && !confirmPassword()}"
        placeholder="Password"
        [type]="passwordFieldType"
        class="input-field"
        [(ngModel)]="contactData.password"
        #password="ngModel"
        name="password"
        id="password"
        required
        minlength="6"
      />
      @if (password.dirty && passwordFieldType === 'password') {
        <img (click)="togglePasswordFieldType()" class="input-icon" src="assets/img/visibility_off.png" alt="" />

      }
      @if (!password.dirty) {
        <img class="input-icon" src="assets/img/lock.png" alt="" />
      }
      @if (password.dirty && passwordFieldType === 'text') {
        <img (click)="togglePasswordFieldType()" class="input-icon" src="assets/img/visibility.png" alt="" />
      }
    </div>
    <div class="input-wrapper">
      <input
      [ngClass]="{'input-field-error': passwordConfirmation.touched && !confirmPassword()}"
        placeholder="Confirm Password"
        [type]="passwordConfirmationFieldType"
        class="input-field"
        [(ngModel)]="contactData.confirmPW"
        #passwordConfirmation="ngModel"
        name="passwordConfirmation"
      />
      @if (passwordConfirmation.dirty && passwordFieldType === 'password') {
        <img (click)="togglepasswordConfirmationFieldType()" class="input-icon" src="assets/img/visibility_off.png" alt="" />

      }
      @if (!passwordConfirmation.dirty) {
        <img class="input-icon" src="assets/img/lock.png" alt="" />
      }
      @if (passwordConfirmation.dirty && passwordFieldType === 'text') {
        <img (click)="togglepasswordConfirmationFieldType()" class="input-icon" src="assets/img/visibility.png" alt="" />
      }
      @if (passwordConfirmation.touched && !confirmPassword()) {
        <span class="hint">Your passwords don't match. Please try again.</span>
        }
    </div>
    <div class="checkbox-wrapper">
      <input
        type="checkbox"
        id="checkbox"
        required
        [(ngModel)]="contactData.policyCheck"
        #policyCheck="ngModel"
        name="checkbox"
      />
      <label for="checkbox">I accept the <a class="legal-link" routerLink="privacy">Privacy policy</a></label>
    </div>
    <button type="submit" [disabled]="!userForm.valid || !confirmPassword()" class="primary">Sign up</button>
  </form>
</main>
