<main>
  <header>
    <img (click)="hideSignUp()" src="assets/img/arrow-blue-left.png" alt="" />
    <div class="headline-wrapper">
      <h1>Sign up</h1>
      <hr class="blue-line" />
    </div>
  </header>
  <form
    (ngSubmit)="onSubmit(userForm)"
    #userForm="ngForm"
    name="userForm"
    id="userForm"
  >
    <div class="input-wrapper">
      <input
        #username="ngModel"
        name="name"
        id="name"
        [(ngModel)]="contactData.name"
        placeholder="Name"
        type="text"
        class="input-field"
        required
        
      />
      <img class="input-icon" src="assets/img/input-icon-person.png" alt="" />
    </div>
    <div class="input-wrapper">
      <input
        placeholder="Email"
        type="email"
        class="input-field"
        [(ngModel)]="contactData.email"
        #mail="ngModel"
        name="mail"
        id="mail"
        required
      />
      <img class="input-icon" src="assets/img/mail.png" alt="" />
    </div>
    <div class="input-wrapper">
      <input
        placeholder="Password"
        type="password"
        class="input-field"
        [(ngModel)]="contactData.password"
        #password="ngModel"
        name="password"
        id="password"
        required
        minlength="6"
      />
      <img class="input-icon" src="assets/img/lock.png" alt="" />
    </div>
    <div class="input-wrapper">
      <input
        placeholder="Confirm Password"
        type="password"
        class="input-field"
        [(ngModel)]="contactData.confirmPW"
        #passwordConfirmation="ngModel"
        name="passwordConfirmation"
      />
      <img class="input-icon" src="assets/img/lock.png" alt="" />
    </div>
    <div class="checkbox-wrapper">
      <input
        type="checkbox"
        id="checkbox"
        required
        [(ngModel)]="contactData.policyCheck"
        #policyCheck="ngModel"
        name="checkbox"
      />
      <label for="checkbox">I accept the Privacy policy</label>
    </div>
    <button type="submit" [disabled]="!userForm.valid || !confirmPassword()" class="primary">Sign up</button>
  </form>
</main>
