<main>
    <div class="headline">
        <h1>Legal Notice</h1><br />
        <img (click)="uiService.goBack()" src="assets/img/arrow-blue-left.png" alt="">
    </div><br>

    <section id="section-imprint">
        <h2 class="color-lb">Imprint</h2> <br />


        <p>
            Manuel Braun <br />Grafen-von-Rieneck Str. 18 <br />
            97846 Partenstein
        </p>
        <br /><br />

        <h3>Exploring the Board</h3><br>
        <p>
            Email: <a class="color-lb" href="mailto: contact@manuel-braun.net">contact&#64;manuel-braun.net</a>
        </p><br>
    </section>
    <section>
        <h3>Acceptance of terms</h3><br>
        <p>
            By accessing and using <span class="color-lb">Join</span> (Product),
            you acknowledge and agree to the following terms and conditions, and
            any policies, guidelines, or amendments thereto that may be presented
            to you from time to time. We, the listed students, may update or
            change the terms and conditions from time to time without notice.
        </p><br>
    </section>
    <section>
        <h3>Scope and ownership of the product</h3><br>
        <p>
            <span class="color-lb">Join</span> has been developed as part of a
            student group project in a web development bootcamp at the
            <span class="color-lb">Developer Akademie GmbH</span>. It has an
            educational purpose and is not intended for extensive personal &
            business usage. As such, we cannot guarantee consistent availability,
            reliability, accuracy, or any other aspect of quality regarding this
            Product.<br /><br />
            The design of <span class="color-lb">Join</span> is owned by the
            <span class="color-lb">Developer Akademie GmbH</span>. Unauthorized
            use, reproduction, modification, distribution, or replication of the
            design is strictly prohibited.
        </p><br>
    </section>
    <section>
        <h3>Proprietary rights</h3><br>
        <p>
            Aside from the design owned by
            <span class="color-lb">Developer Akademie GmbH</span>, we, the listed
            students, retain all proprietary rights in
            <span class="color-lb">Join</span>, including any associated
            copyrighted material, trademarks, and other proprietary information.
        </p><br>
    </section>
    <section>
        <h3>Use of the product</h3><br>
        <p>
            <span class="color-lb">Join</span> is intended to be used for lawful
            purposes only, in accordance with all applicable laws and regulations.
            Any use of <span class="color-lb">Join</span> for illegal activities,
            or to harass, harm, threaten, or intimidate another person, is
            strictly prohibited. You are solely responsible for your interactions
            with other users of <span class="color-lb">Join</span>.
        </p><br>
    </section>
    <section>
        <h3>Disclaimer of warranties and limitation of liability</h3><br>
        <p>
            <span class="color-lb">Join</span> is provided "as is" without
            warranty of any kind, whether express or implied, including but not
            limited to the implied warranties of merchantability, fitness for a
            particular purpose, and non-infringement. In no event will we, the
            listed students, or the Developer Akademie, be liable for any direct,
            indirect, incidental, special, consequential or exemplary damages,
            including but not limited to, damages for loss of profits, goodwill,
            use, data, or other intangible losses, even if we have been advised of
            the possibility of such damages, arising out of or in connection with
            the use or performance of <span class="color-lb">Join</span>.
        </p><br>
    </section>
    <section>
        <h3>Indemnity</h3><br>
        <p>
            You agree to indemnify, defend and hold harmless us, the listed
            students, the Developer Akademie, and our affiliates, partners,
            officers, directors, agents, and employees, from and against any
            claim, demand, loss, damage, cost, or liability (including reasonable
            legal fees) arising out of or relating to your use of
            <span class="color-lb">Join</span> and/or your breach of this Legal
            Notice. For any questions or notices, please contact us at
            <a class="color-lb" href="mailto: contact@manuel-braun.net">contact&#64;manuel-braun.net</a>.<br /><br />
            Date: September 16, 2024
        </p><br /><br /><br /><br />
    </section>
</main>