@import '../../styles.scss';

main{
    background-color: white;
    box-shadow: 0px 0px 10px 3px #00000014;
    padding: 16px;
    border-radius: 24px;
    @include dFlex($fd: column, $g: 10px, $ai: flex-start, $jc: flex-start);
    width: 252px;
    min-height: 260px;
    cursor: grab;
    .category{
        color: white;
        padding: 4px 16px;
        border-radius: 8px;
    }
    h2{
        font-family: 'Inter';
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
        color: $color-main;
    }
    h3{
        color: $color-icon;
    }
    
    .users{
        margin-top: auto;
        width: 100%;
        @include dFlex($jc: space-between);
        >div{
            @include dFlex();
            span{
                display: none;
                &:nth-child(-n+4) {
                    display: flex;
                }
            }
        }
    }
}

.progress-bar{
    @include dFlex($jc: space-between);
    width: 100%;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 8px;
    width: 128px;
    border-radius: 8px;
    margin-bottom: 4px;
}
progress::-webkit-progress-bar {
    background-color: #F4F4F4;
    height: 8px;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background-color: #4589FF;
    height: 8px;
    border-radius: 8px;
}