@import "../../styles.scss";

main {
  z-index: 2;
  @include dFlex($fd: column, $ai: flex-start, $jc: flex-start, $g: 21px);
  margin-top: 32px;
  background-color: $color-bg-white;

  @media(max-width: 950px) {
    margin: 0;
    padding: 8px;
  }
}

.more-btn {
  cursor: pointer;
  @include dFlex();
  position: absolute;
  bottom: 94px;
  right: 14px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: unset;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: $color-main;

  &:active {
    background-color: $color-lightblue;
  }

  @media(min-width: 951px) {
    display: none;
  }
}

.headline-mobile {
  @include dFlex($jc: space-between, $ai: flex-start);
  width: 100%;

  .headline {
    background-color: $color-bg-white;
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $g: 8px);

    span {
      color: $color-main;
    }

    .divider-header {
      height: 3px;
      width: 59px;
      background-color: $color-lightblue;
      border: unset;
      border-radius: 100vw;
    }
  }

  @media(min-width: 951px) {
    display: none;
  }


}

header {
  @include dFlex($g: 54px, $jc: flex-start);
  @media(max-width: 950px) {
    gap: 24px;
  }

  span {
    flex-shrink: 0;
    @extend .assignedToBubble;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    width: 120px;
    height: 120px;

    @media(max-width: 950px) {
      width: 80px;
      height: 80px;
      font-size: 40px;
    }
    
  }

  >div {
    @include dFlex($fd: column, $g: 8px, $jc: flex-start, $ai: flex-start);

    h2 {
      margin: 0;
      @extend .v2-t2;
    }

    >div {
      display: flex;

      button {
        margin-right: 8px;
        @extend .v2-body;
        border: unset;
        background-color: unset;
        @include dFlex($g: 13px);
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
          svg {
            fill: $color-link-grey;
    
            rect,
            path {
              fill: $color-link-grey;
            }
          }
          &:hover {
            color: $color-link-grey;
            font-weight: unset;
            svg {
              fill: $color-link-grey;
      
              rect,
              path {
                fill: $color-link-grey;
              }
            }
          }
        }

        &:hover {
          color: $color-link-blue;
          font-weight: 700;

          svg {
            fill: $color-link-blue;

            rect,
            path {
              fill: $color-link-blue;
            }
          }
        }
      }
    }
  }
}

.contactInfo {
  @extend .v2-t6;
}

.info {
  h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }

  span {
    @extend .v2-body;
    color: $color-link-blue;
  }
}

.background-edit-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
}

.edit-popup {
  z-index: 3;
  position: fixed;
  bottom: 90px;
  right: 14px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: white;
  border-radius: 20px 20px 0 20px;
  padding: 10px;
  .btns{
    @include dFlex($fd: column, $g: 10px, $ai: flex-start);
    button {
      margin-right: 8px;
      @extend .v2-body;
      border: unset;
      background-color: unset;
      @include dFlex($g: 13px);
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
        svg {
          fill: $color-link-grey;
  
          rect,
          path {
            fill: $color-link-grey;
          }
        }
        &:hover {
          color: $color-link-grey;
          font-weight: unset;
          svg {
            fill: $color-link-grey;
    
            rect,
            path {
              fill: $color-link-grey;
            }
          }
        }
      }
  
      &:hover {
        color: $color-link-blue;
        font-weight: 700;
  
        svg {
          fill: $color-link-blue;
  
          rect,
          path {
            fill: $color-link-blue;
          }
        }
      }
    }
  }
  
}