
<main>
    <div class="headline">
        <h1 class="v2-t1">Board</h1>
    <div class="search">
        <input type="text" class="input-field" placeholder="Find Task">
        <button class="primary">Add task +</button>
    </div>
    </div>
    
    <div class="task-container">
        <div class="tasks-column">
            <div class="header">
                <h3>To do</h3>
                <img src="assets/img/board-plus-btn.png" alt="">  
            </div>
            <div class="tasks">

            </div>
        </div>
        <div class="tasks-column">
            <div class="header">
                <h3>In progress</h3>
                <img src="assets/img/board-plus-btn.png" alt="">
                
            </div>
            <div class="tasks">
                    
            </div>
        </div>
        <div class="tasks-column">
            <div class="header">
                <h3>Await feedback</h3>
                <img src="assets/img/board-plus-btn.png" alt="">
                
            </div>
            <div class="tasks">
                    
            </div>
        </div>
        <div class="tasks-column">
            <div class="header">
                <h3>Done</h3>
                <img src="assets/img/board-plus-btn.png" alt="">
                
            </div>
            <div class="tasks">
                    
            </div>
        </div>
    </div>

</main>
