@import "../../styles.scss";

.test-item{
  width: 80%;
  height: 50px;
  background-color: lightcoral;
}

main {
  background-color: $color-bg-white;
  margin: 96px 0 0 232px;
  padding: 80px 64px 80px 64px;
  min-height: calc(100vh - 96px);
}

.input-wrapper{
  position: relative;
  input{
    width: 300px;
  }
  img:nth-of-type(2){
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
  img:nth-of-type(1){
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  } 
}

.headline {
  @include dFlex($jc: space-between);
  width: 100%;
  margin-bottom: 48px;
  .search {
    @include dFlex($g: 32px);
  }
}

.task-container {
  @include dFlex($g: 26px, $jc: flex-start, $ai: flex-start);
  flex-wrap: wrap;
}

.tasks-column {
  width: 250px;
  .header {
    margin-bottom: 16px;
    @include dFlex($jc: space-between);
    h3 {
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #42526E;
    }
    img{
        cursor: pointer;
    }
  }
  .tasks {
    min-height: 300px;
    @include dFlex($fd: column, $g: 8px, $jc: flex-start)
  }
}

.placeholder {
  width: 252px;
  height: 260px;
  border: 1px dotted $color-icon;
  border-radius: 24px;
}

.drag-preview{
  
  transform: rotate(15deg) !important;
}


