@import "../../styles.scss";


.drag-container{
  position: relative;
}

.drag-indicator {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: grab;
}

main {
  overflow: auto;
  background-color: $color-bg-white;
  padding: 80px 64px 80px 64px;
  @media(max-width: 950px) {
    padding: 8px;
  }
}

.input-wrapper{
  position: relative;
  @media(max-width: 950px) {
      width: 100%;
  }
  input{
    width: 300px;
    @media(max-width: 950px) {
      width: 100%;
    }
  }
  img:nth-of-type(2){
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
  img:nth-of-type(1){
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  } 
}

.headline {
  @include dFlex($jc: space-between);
  width: 100%;
  margin-bottom: 48px;
  @media(max-width: 950px) {
    flex-direction: column;
  }
  .add-btn{
    @media(max-width: 950px) {
      display: none;
    }
  }
  .search {
    @include dFlex($g: 32px);
    @media(max-width: 950px) {
      width: 100%;
    }
  }
  >div {
    @media(max-width: 950px) {
      width: 100%;
      @include dFlex($jc: space-between);
    }
  }
}

.mobile-btn{
  background-color: unset;
  border: unset;
  cursor: pointer;
  @media(min-width: 951px) {
    display: none;
  }
}

.task-container {
  @include dFlex($g: 26px, $jc: flex-start, $ai: flex-start);
  flex-wrap: wrap;
}

.tasks-column {
  width: 250px;
  @media(max-width: 950px){
    width: 100%;
  }
  .header {
    margin-bottom: 16px;
    @include dFlex($jc: space-between);
    h3 {
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #42526E;
    }
    img{
        cursor: pointer;
    }
  }
  .tasks {
    min-height: 300px;
    @include dFlex($fd: column, $g: 8px, $jc: flex-start);
    @media(max-width: 950px){
      width: 100%;
      flex-direction: row;
      height: fit-content;
      overflow-x: auto;
    }
  }
}

.placeholder {
  width: 252px;
  height: 260px;
  border: 1px dotted $color-icon;
  border-radius: 24px;
}




