@import "../../styles.scss";

.test-item{
  width: 80%;
  height: 50px;
  background-color: lightcoral;
}

main {
  background-color: $color-bg-white;
  margin: 96px 0 0 232px;
  padding: 80px 64px 80px 64px;
}

.headline {
  @include dFlex($jc: space-between);
  width: 100%;
  .search {
    @include dFlex($g: 32px);
  }
}

.task-container {
  @include dFlex($g: 26px, $jc: flex-start, $ai: flex-start);
  flex-wrap: wrap;
}

.tasks-column {
  width: 250px;
  .header {
    @include dFlex($jc: space-between);
    h3 {
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #42526E;
    }
    img{
        cursor: pointer;
    }
  }
  .tasks {
    min-height: 300px;
    @include dFlex($fd: column, $g: 8px)
  }
}
