<main>
  <div class="headline">
    <div>
      <h1 (click)="userService.addLocalUsersToFirebase()" class="v2-t1">Board</h1>
      <button class="mobile-btn">
        <img #mobileBtn routerLink="/addTask" src="assets/img/add-task-plus-mobile.png" alt="">
      </button>
    </div>
    <div class="search">
      <div class="input-wrapper">
        <input [(ngModel)]="searchInput" type="text" class="input-field" placeholder="Find Task" />
        <img src="assets/img/divider-vertical.png" alt="">
        <img src="assets/img/icon-search.png" alt="">

      </div>
      <button (click)="toggleAddTaskOverlay('todo')" class="primary add-btn">
        Add task 
        <img src="assets/img/plus-icon-white.png" alt="">
      </button>
      
    </div>
  </div>

  <div cdkScrollable class="task-container">
    <div class="tasks-column">
      <div class="header">
        <h3>To do</h3>
        <img (click)="toggleAddTaskOverlay('todo')" src="assets/img/board-plus-btn.png" alt="" />
      </div>
      <div
        id="todoList"
        [cdkDropListConnectedTo]="['feedbackList', 'progressList', 'doneList']"
        cdkDropList
        [cdkDropListData]="filterTasks('todo')"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event, 'todo')"
        class="tasks"
      >
        @for (task of filteredTasks() | filterTasks: 'todo'; track
        $index) {
        <div
          (click)="openDetailCard(task)"
          class="drag-container"
          cdkDragBoundary=".task-container"
          [cdkDragStartDelay]="0"
          cdkDrag
        >
          <app-board-task-card [task]="task"></app-board-task-card>
          <svg cdkDragHandle class="drag-indicator" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M360-160q-33 0-56.5-23.5T280-240q0-33 23.5-56.5T360-320q33 0 56.5 23.5T440-240q0 33-23.5 56.5T360-160Zm240 0q-33 0-56.5-23.5T520-240q0-33 23.5-56.5T600-320q33 0 56.5 23.5T680-240q0 33-23.5 56.5T600-160ZM360-400q-33 0-56.5-23.5T280-480q0-33 23.5-56.5T360-560q33 0 56.5 23.5T440-480q0 33-23.5 56.5T360-400Zm240 0q-33 0-56.5-23.5T520-480q0-33 23.5-56.5T600-560q33 0 56.5 23.5T680-480q0 33-23.5 56.5T600-400ZM360-640q-33 0-56.5-23.5T280-720q0-33 23.5-56.5T360-800q33 0 56.5 23.5T440-720q0 33-23.5 56.5T360-640Zm240 0q-33 0-56.5-23.5T520-720q0-33 23.5-56.5T600-800q33 0 56.5 23.5T680-720q0 33-23.5 56.5T600-640Z"/></svg>
          <div class="placeholder" *cdkDragPlaceholder></div>
        </div>
        } @empty {<app-board-task-card-empty [status]="'todo'"></app-board-task-card-empty>}
      </div>
    </div>
    <div class="tasks-column">
      <div class="header">
        <h3>In progress</h3>
        <img (click)="toggleAddTaskOverlay('progress')" src="assets/img/board-plus-btn.png" alt="" />
      </div>
      <div
        id="progressList"
        [cdkDropListConnectedTo]="['feedbackList', 'doneList', 'todoList']"
        cdkDropList
        [cdkDropListData]="filterTasks('progress')"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event, 'progress')"
        class="tasks"
      >
        @for (task of filteredTasks() | filterTasks: 'progress';
        track $index) {

        <div
          (click)="openDetailCard(task)"
          class="drag-container"
          cdkDragBoundary=".task-container"
          [cdkDragStartDelay]="0"
          cdkDrag
        >
          <app-board-task-card [task]="task"></app-board-task-card>
          <svg cdkDragHandle class="drag-indicator" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M360-160q-33 0-56.5-23.5T280-240q0-33 23.5-56.5T360-320q33 0 56.5 23.5T440-240q0 33-23.5 56.5T360-160Zm240 0q-33 0-56.5-23.5T520-240q0-33 23.5-56.5T600-320q33 0 56.5 23.5T680-240q0 33-23.5 56.5T600-160ZM360-400q-33 0-56.5-23.5T280-480q0-33 23.5-56.5T360-560q33 0 56.5 23.5T440-480q0 33-23.5 56.5T360-400Zm240 0q-33 0-56.5-23.5T520-480q0-33 23.5-56.5T600-560q33 0 56.5 23.5T680-480q0 33-23.5 56.5T600-400ZM360-640q-33 0-56.5-23.5T280-720q0-33 23.5-56.5T360-800q33 0 56.5 23.5T440-720q0 33-23.5 56.5T360-640Zm240 0q-33 0-56.5-23.5T520-720q0-33 23.5-56.5T600-800q33 0 56.5 23.5T680-720q0 33-23.5 56.5T600-640Z"/></svg>
          <div class="placeholder" *cdkDragPlaceholder></div>
        </div>

        } @empty {<app-board-task-card-empty  [status]="'progress'"></app-board-task-card-empty>}
      </div>
    </div>
    <div class="tasks-column">
      <div class="header">
        <h3>Await feedback</h3>
        <img (click)="toggleAddTaskOverlay('feedback')" src="assets/img/board-plus-btn.png" alt="" />
      </div>
      <div
        id="feedbackList"
        [cdkDropListConnectedTo]="['doneList', 'progressList', 'todoList']"
        cdkDropList
        [cdkDropListData]="filterTasks('feedback')"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event, 'feedback')"
        class="tasks"
      >
        @for (task of filteredTasks() | filterTasks: 'feedback';
        track $index) {

        <div
          (click)="openDetailCard(task)"
          class="drag-container"
          cdkDragBoundary=".task-container"
          [cdkDragStartDelay]="0"
          cdkDrag
        >
          <app-board-task-card [task]="task"></app-board-task-card>
          <svg cdkDragHandle class="drag-indicator" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M360-160q-33 0-56.5-23.5T280-240q0-33 23.5-56.5T360-320q33 0 56.5 23.5T440-240q0 33-23.5 56.5T360-160Zm240 0q-33 0-56.5-23.5T520-240q0-33 23.5-56.5T600-320q33 0 56.5 23.5T680-240q0 33-23.5 56.5T600-160ZM360-400q-33 0-56.5-23.5T280-480q0-33 23.5-56.5T360-560q33 0 56.5 23.5T440-480q0 33-23.5 56.5T360-400Zm240 0q-33 0-56.5-23.5T520-480q0-33 23.5-56.5T600-560q33 0 56.5 23.5T680-480q0 33-23.5 56.5T600-400ZM360-640q-33 0-56.5-23.5T280-720q0-33 23.5-56.5T360-800q33 0 56.5 23.5T440-720q0 33-23.5 56.5T360-640Zm240 0q-33 0-56.5-23.5T520-720q0-33 23.5-56.5T600-800q33 0 56.5 23.5T680-720q0 33-23.5 56.5T600-640Z"/></svg>
          <div class="placeholder" *cdkDragPlaceholder></div>
        </div>

        } @empty {<app-board-task-card-empty  [status]="'feedback'"></app-board-task-card-empty>}
      </div>
    </div>
    <div class="tasks-column">
      <div class="header">
        <h3>Done</h3>
        <img (click)="toggleAddTaskOverlay('done')" src="assets/img/board-plus-btn.png" alt="" />
      </div>
      <div
        id="doneList"
        [cdkDropListConnectedTo]="['feedbackList', 'progressList', 'todoList']"
        cdkDropList
        [cdkDropListData]="filterTasks('done')"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event, 'done')"
        class="tasks"
      >
        @for (task of filteredTasks() | filterTasks: 'done'; track
        $index) {

        <div
          (click)="openDetailCard(task)"
          class="drag-container"
          cdkDragBoundary=".task-container"
          [cdkDragStartDelay]="0"
          cdkDrag
        >
          <app-board-task-card [task]="task"></app-board-task-card>
          <svg cdkDragHandle class="drag-indicator" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M360-160q-33 0-56.5-23.5T280-240q0-33 23.5-56.5T360-320q33 0 56.5 23.5T440-240q0 33-23.5 56.5T360-160Zm240 0q-33 0-56.5-23.5T520-240q0-33 23.5-56.5T600-320q33 0 56.5 23.5T680-240q0 33-23.5 56.5T600-160ZM360-400q-33 0-56.5-23.5T280-480q0-33 23.5-56.5T360-560q33 0 56.5 23.5T440-480q0 33-23.5 56.5T360-400Zm240 0q-33 0-56.5-23.5T520-480q0-33 23.5-56.5T600-560q33 0 56.5 23.5T680-480q0 33-23.5 56.5T600-400ZM360-640q-33 0-56.5-23.5T280-720q0-33 23.5-56.5T360-800q33 0 56.5 23.5T440-720q0 33-23.5 56.5T360-640Zm240 0q-33 0-56.5-23.5T520-720q0-33 23.5-56.5T600-800q33 0 56.5 23.5T680-720q0 33-23.5 56.5T600-640Z"/></svg>
          <div class="placeholder" *cdkDragPlaceholder></div>
        </div>

        } @empty {
        <app-board-task-card-empty  [status]="'done'"></app-board-task-card-empty>
        }
      </div>
    </div>
  </div>
</main>

@if (taskService.showAddTaskOverlay) {
  <div @toggleOverlay class="overlay">
    <app-add-task-form [openInDialog]="true"></app-add-task-form>
  </div>

  <div (click)="toggleAddTaskOverlay('todo')" class="background"></div>
}

@if (taskService.showDetailOverlay) {
  <div @toggleDetailCard class="overlay">
    @if (!taskService.taskEditMode) {
      <app-board-task-detail-card [currentTask]="taskForDetail"></app-board-task-detail-card>
    } @else if (taskService.taskEditMode) {
      <app-add-task-form [editmode]="true" [currentTask]="taskForDetail"></app-add-task-form>
    }
  </div>

  <div (click)="toggleTaskDetailOverlay()" class="background"></div>
}
