@import '../../styles.scss';

main{
    margin: 96px 0 0 232px;
    padding: 80px 64px 80px 64px;
    background-color: $color-bg-white;
    height: calc(100vh - 96px);
    @media(max-width: 950px){
        padding: 8px;
      }
}