<main>

    <div class="headline">
        <h1>Privacy Policy</h1>
        <img (click)="uiService.goBack()" src="assets/img/arrow-blue-left.png" alt="">
    </div>

    <section>
        <p>
            <br />
            In the following Privacy Policy you receive an overview of how your
            data is handled and proceeded when you are using
            <span class="color-lb">JOIN</span>. <br />If you disagree with the
            policy please do not access or use the
            <span class="color-lb">JOIN</span> application.
        </p>
    </section><br />
    <section>
        <h3>What information do we collect about you?</h3><br>
        <p>
            We collect the information that you provide and share with us. For
            example by signing up, adding contacts, tasks or assigning tasks to
            contacts.<br />
            Moreover technical information is registered when accessing the
            website to make sure that application and all features work
            properly.<br />
            To ensure that the application can be accessed not only locally the
            data provided is stored on a server from the
            <span class="color-lb">Google Firebase</span>.
        </p>
    </section><br />
    <section>
        <h3>How do we use the information we collect?</h3><br>
        <p>
            We only use your data to make sure that the JOIN application can be
            used correctly and with all the features available. <br />We are not
            using cookies or any third party services e.g. to track on analyise
            your activities.
        </p>
    </section><br />
    <section>
        <h3>How long do we keep the information?</h3><br>
        <p>
            We keep your information for as long as required. As soon as your user
            account is deleted all the information concerning your account will be
            erased immediately.
        </p>
    </section><br />
    <section>
        <h3>How can you access or delete your personal data?</h3><br>
        <p>
            We take protection of data privacy seriously. If you want to request,
            delete or have any questions concernig your personal information,
            please do not hesitate to contact us at
            <a href="mailto: contact@manuel-braun.net" class="color-lb">contact&#64;manuel-braun.net</a>.
        </p><br /><br /><br /><br />
    </section>
</main>