@import "../../styles.scss";

:host {
  z-index: 3;
  display: block;
  background: #fff;
  border-radius: 24px;
  padding: 32px;
  animation: custom-dialog-enter 225ms ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 64px);
}

@keyframes custom-dialog-enter {
  from {
    transform: translate(200%, -50%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

