* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter";
}

// Colors

$color-main: #2a3647;
$color-icon: #a8a8a8;
$color-lightblue: #29abe2;
$color-bg-white: #f6f7f8;
$color-grey: #D1D1D1;

// Fonts

.v2-body {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.v2-t6 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.v2-t1 {
  font-family: Inter;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.btn-font {
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
}

// Mixins

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin link($c: white) {
    color: $c;
    text-decoration: none;
    cursor: pointer;
}

// default classes

.primary {
  color: #ffffff;
  background-color: $color-main;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  @include dFlex($g: 10px);
  @extend .btn-font;
}

.secondary {
  color: $color-main;
  background-color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid $color-main;
  cursor: pointer;
  @include dFlex($g: 10px);
  @extend .btn-font;
}

.input-field{
    @extend .v2-t6;
    color: $color-grey;
    border: 1px solid $color-grey;
    padding: 12px 21px;
    border-radius: 10px;
    outline: none;
}



