*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

// Colors

$color-main: #2A3647;
$color-icon: #A8A8A8;
$color-lightblue: #29abe2;

// Fonts

.v2-body{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

.v2-t6{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


// Mixins



@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}



button{
    background-color: unset;
    @include dFlex();
}