
$color-main: #2a3647;
$color-icon: #a8a8a8;
$color-lightblue: #29abe2;
$color-bg-white: #f6f7f8;
$color-grey: #d1d1d1;
$color-user-story: #0038ff;
$color-technical-task: #1fd7c1;
$color-required-red: #ff8190;
$color-red-urgent: #ff3d00;
$color-orange-medium: #ffa800;
$color-green-low: #7ae229;
$color-input-focus-blue: #005dff;
$color-link-blue: #007cee;
$color-font-grey: #42526E;
$color-link-grey: #CDCDCD;
$color-active-section: #091931;

$content-limit: 1920px;

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
hr {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Inter";
  background-color: $color-bg-white;
}

app-start-screen{
  width: 100%;
}

// Fonts

.summary-number {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;

  @media(max-width: 950px) {
    font-size: 47px;
    line-height: 40px;
  }
}

.v2-body {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.v2-t2 {
  font-family: Inter;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;

  @media(max-width: 950px) {
    font-size: 40px;
  }
}

.v2-t5 {
  font-family: Inter;
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;

  @media(max-width: 950px) {
    font-size: 16px;
  }
}

.v2-t6 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  @media(max-width: 950px) {
    font-size: 14px;
  }
}

.v2-t1 {
  font-family: "Inter";
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;

  @media(max-width: 950px) {
    font-size: 40px;
    line-height: 55px;
  }
}

.v2-t7 {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.btn-font {
  font-family: "Inter";
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
}

.form-hint {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
}

// Mixins

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin link($c: white) {
  color: $c;
  text-decoration: none;
  cursor: pointer;
}

// default classes

.primary {
  white-space: nowrap;
  color: #ffffff;
  background-color: $color-main;
  padding: 12px 20px;
  border-radius: 8px;
  border: unset;
  cursor: pointer;
  @include dFlex($g: 4px);
  @extend .btn-font;

  &:hover {
    background-color: $color-lightblue;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active {
    background-color: #091931;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #2a3647b8;

    &:hover {
      transform: none;
      box-shadow: unset;
    }
  }
}

.secondary {
  color: $color-main;
  background-color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid $color-main;
  cursor: pointer;
  @include dFlex($g: 4px);
  @extend .btn-font;

  &:hover {
    color: $color-lightblue;
    border-color: $color-lightblue;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:hover .path {
    stroke: $color-lightblue;
  }

  &:active {
    color: $color-main;
    border-color: $color-main;
  }
}

.input-field {
  @extend .v2-t6;
  color: black;
  border: 1px solid $color-grey;
  padding: 12px 21px;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    color: $color-grey;
  }

  &:focus {
    border-color: $color-lightblue;
  }
}

.hint {
  @extend .form-hint;
  position: absolute;
  bottom: -16px;
  left: 0;
  color: $color-required-red;
}

.input-field-error {
  border-color: $color-required-red;
}

.error {
  color: $color-required-red;
  position: absolute;
  top: -18px;
  left: 0;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  @media(max-width: 599px) {
    font-size: 11px;
  }
}

.text-area {
  @extend .v2-t6;
  color: black;
  border: 1px solid $color-grey;
  border-radius: 10px;
  outline: none;
  padding: 12px 21px;
  min-height: 120px;

  &::placeholder {
    color: $color-grey;
  }

  &:focus {
    border-color: $color-lightblue;
  }
}

.user-story {
  background-color: $color-user-story;
}

.technical-task {
  background-color: $color-technical-task;
}

.assignedToBubble {
  @extend .v2-t7;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  @include dFlex();
  background-color: $color-main;
  margin-left: -7px;
  flex-shrink: 0;
}

.overlay {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(208, 207, 207, 0.688);
}

::-webkit-scrollbar {
  width: 24px;
  height: 24px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
  border-radius: 100vw;
  margin-block: 16px;
}

::-webkit-scrollbar-thumb {
  background: $color-main;
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #404856;
  cursor: pointer;
}