@import '../../../styles.scss';

aside{
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 64px 0px 64px 0px;
    background-color: $color-main;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 232px;
    height: 100vh;
    @include dFlex($fd: column, $jc: flex-start);
    @media(max-width: 950px){
        position: fixed;
        left: 0;
        right: 0;
        width: unset;
        bottom: 0;
        top: unset;
        height: fit-content;
        padding: 0;
    }
    .logo{
        @media(max-width: 950px){
            display: none;
        }
    }

    .active-section {
        background-color: $color-active-section;
    }

    nav{
        width: 100%;
        margin-top: 160px;
        @include dFlex($fd: column, $g: 32px, $ai: flex-start);
        @media(max-width: 950px){
            @include dFlex($g: 15px);
            margin: 0;
            height: 100%;
            padding: 8px 8px;
        }
        a{
            width: 100%;
            padding: 8px 56px 8px 56px;
            @include dFlex($jc: flex-start, $g: 8px);
            color: $color-link-grey;
            text-decoration: none;
            white-space: nowrap;
            @extend .v2-body;
            img{
                width: 25px;
                height: 25px;
            }
            @media(max-width: 950px){
                @include dFlex($fd: column, $g: 8px);
                padding: 8px 1px;
                font-size: 14px;
                height: 100%;
                border-radius: 16px;
            }
        }
    }
    .legals{
        margin-top: auto;
        @include dFlex($fd: column, $g: 24px, $ai: flex-start);
        a{
            @extend .v2-body;
            color: white;
            text-decoration: none;
        }
        @media(max-width: 950px){
            display: none;   
        }
    }
}